## Compiled JavaScript files
**/*.js
**/*.js.map
.env
# Typescript v1 declaration files
typings/
functions/lib
functions/node_modules
node_modules/
firebase-debug.log
src/firebase-debug.log
functions/.runtimeconfig.json